:root {
  --background-color1: #000;
  --background-color2: #fff;
  --description-text: #757575;
  --hedertext: #212121;
  --logo-beg: #2196F3;
  --logo-end: #000;
  --logo-end-down: #fff;
  --header: #212121;
  --links: #212121;
  --links-hover: #2196F3;
  --links-contact: #757575;
  --links-conact-hover-focus: #2196F3;
  --order-background-color: #2F303A;
  --desigion-color: #fff;
  --button-push-background: #2196F3;
  --button-push-active: #188CE8;
  --order-button-color: #fff;
  --advantage-color: #212121;
  --advantage-title-color: #757575;
  --work-color: #212121;
  --team-color-background: #F5F4FA;
  --team-list-background: #fff;
  --name: #212121;
  --prof-color: #757575;
  --footer-background: #2F303A;
  --address-color: #fff;
  --footer-link: rgba(255, 255, 255, 0.6);
  --filter-title-color: #212121;
  --filter-title-background: #F5F4FA;
  --filter-title-hover: #2196F3;
  --filter-color: #212121;
  --filter-work: #757575;
  --work-title: #212121;
  --border: #ECECEC;
  --icon-mail-tel: #757575;
  --icon: #AFB1B8;
  --filter-text-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

* {
  text-decoration: none;
  outline: var(--background-color2);
}

body {
  font-family: "Roboto";
  font-style: normal;
  color: var(--background-color1);
  background: var(--background-color2);
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  font-family: "Roboto";
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
  width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (min-width: 767px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.pic {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.title {
  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--work-color);
  margin-top: 0;
  margin-bottom: 50px;
}
@media screen and (min-width: 767px) {
  .title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.header {
  display: contents;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.logo-beg {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  color: var(--logo-beg);
}

.logo-end {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  color: var(--logo-end);
}

.logo-down {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  color: var(--logo-end-down);
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--border);
}
@media screen and (max-width: 767px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }
}

.container-heder {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.menu__links {
  display: block;
  color: var(--links);
  padding: 32px 0;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.menu__links.current::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--button-push-background);
  border-radius: 2px;
  bottom: -1px;
  transition: opacity 250ms var(--button-push-background);
}
.menu__links.current {
  color: var(--button-push-background);
}
.menu__links:hover {
  color: var(--links-hover);
}
.menu__links:focus {
  color: var(--links-hover);
}

.contacts__links {
  list-style: none;
  text-decoration: none;
  color: var(--links-contact);
  display: flex;
  align-items: center;
  gap: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.contacts__links:hover, .contacts__links:focus {
  color: var(--links-conact-hover-focus);
}

.menu {
  cursor: pointer;
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contacts {
  display: flex;
  justify-content: end;
  align-items: baseline;
  gap: 50px;
  margin: 0 0 0 auto;
}

.contacts__email {
  fill: var(--icon-mail-tel);
}

.contacts__telefon {
  fill: var(--icon-mail-tel);
}

.contacts__pic {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__links:hover .contacts__pic, .contacts__links:focus .contacts__pic, .contacts__links:hover .contacts__pic, .contacts__links:focus .contacts__pic {
  fill: var(--links-conact-hover-focus);
}
.contacts__email:hover .contacts__pic {
  fill: var(--links-conact-hover-focus);
}
.contacts__email:focus .contacts__pic {
  fill: var(--links-conact-hover-focus);
}
.contacts__telefon:hover .contacts__pic {
  fill: var(--links-conact-hover-focus);
}
.contacts__telefon:focus .contacts__pic {
  fill: var(--links-conact-hover-focus);
}

@media screen and (max-width: 767px) {
  .menu,
.contacts {
    display: none;
  }
}
.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 767px) {
  .menu-button {
    display: none;
  }
}

.menu-button.is-open .icon-menu-mob {
  display: none;
}

.menu-button .icon-close-mob {
  display: none;
}

.menu-button.is-open .icon-close-mob {
  display: block;
}

.menu-container {
  width: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}
.menu-container.is-open {
  display: block;
}
@media screen and (min-width: 767px) {
  .menu-container.is-open {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
  }
}

.icon-menu-mob {
  width: 24;
  height: 16px;
}

.icon-close-mob {
  width: 18.67px;
  height: 18.67px;
}

.mob-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: auto;
}

.mobile-navigation__item {
  cursor: pointer;
}

.mobile-navigation__item:focus {
  color: #2196F3;
}

.mobile-navigation__link {
  display: flex;
  text-decoration: none;
  margin-top: 32px;
  margin-left: 40px;
  margin-right: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-navigation__link:hover,
.mobile-navigation__link :focus {
  color: #2196F3;
}

.mobile-contacts {
  margin-top: 306px;
  margin-left: 40px;
  margin-right: 40px;
}

.mobile-contacts__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-contacts__link {
  text-decoration: none;
  display: flex;
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mobile-contacts__link:focus,
.mobile-contacts__link:hover {
  color: #2196F3;
}

.mobile-contacts__link.mail {
  font-size: 24px;
  line-height: 28px;
  margin-top: 32px;
}

.mobile-contacts__link.phone {
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-social {
  display: flex;
  margin-left: 40px;
  margin-top: 64px;
  gap: 10px;
}

.mobile-social__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
}

.mobile-social__link {
  text-decoration: none;
  color: #2196F3;
}

.mobile-social__link {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  transform: rotate(90deg);
}

.mobile-social__link.linked-in {
  border-right: none;
}

.contacts {
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: center;
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    padding-top: 21px;
    padding-bottom: 21px;
    gap: 10px;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 50px;
    align-items: center;
  }
}
.contacts-logos {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-logos:hover,
.contacts-logos:focus {
  color: #2196F3;
}

.contact-link {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 34px;
  line-height: 1.17;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .contact-link {
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .contact-link {
    color: #757575;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-link:hover,
.contact-link:focus {
    color: #2196F3;
  }
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.hero {
  min-width: 100%;
  max-width: 100%;
  background: var(--order-background-color);
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon-main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  width: 100%;
  color: var(--desigion-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .hero__title {
    max-width: 767px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6153846154;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 1199px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6153846154;
    text-align: center;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.hero-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
  letter-spacing: 0.06em;
  background: var(--button-push-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--order-button-color);
  border: 0;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.hero__button:hover {
  background-color: var(--button-push-active);
}
.hero__button:focus {
  background-color: var(--button-push-active);
}
.hero__button:active {
  background-color: var(--button-push-active);
}

.order__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--order-button-color);
}

/*.container-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
}   */
.work--section {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work--section {
    display: contents;
  }
}

.title {
  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--work-color);
  margin-top: 0;
  margin-bottom: 50px;
}

.container .work {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.work__title {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.work__foto {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.work__text {
  position: absolute;
  width: 100%;
  height: 70px;
  top: calc(100% - 70px);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--logo-end-down);
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantage {
  padding: 60px 15px;
}

.advantage__picture {
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  /* gap: 30px; */
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.advantage__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--advantage-color);
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .advantage__text {
    justify-content: start;
  }
}

.advantage__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .advantage__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__list {
    align-items: baseline;
  }
}

.advantage__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .advantage__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantage__item {
    width: calc((100% - 90px) / 4);
  }
}

.advantage__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--advantage-title-color);
}

.team {
  background: var(--team-color-background);
}

.team__list {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    align-items: baseline;
  }
}

.team__item {
  background: var(--team-list-background);
  /*flex-basis: calc((100% - 90px) / 4); */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team__info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--name);
  margin-bottom: 10px;
}

.team__prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prof-color);
  margin-bottom: 16px;
}

.social__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social__item {
  width: 44px;
  height: 44px;
  gap: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--team-list-background);
  display: flex;
  justify-content: center;
  align-items: center;
  /*    transition: 250ms; */
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.social__link:hover, .social__link:focus {
  background-color: var(--button-push-active);
}

.social__icon {
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.social__link:hover .social__icon {
  fill: var(--team-list-background);
}
.social__link:focus .social__icon {
  fill: var(--team-list-background);
}

.comand-pic {
  min-width: 100%;
  height: auto;
  display: block;
}

.client__icon {
  padding-top: 16px;
  padding-bottom: 16px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.client__icon {
  fill: var(--icon);
}
.client__link:hover .client__icon, .client__link:focus .client__icon {
  fill: var(--links-conact-hover-focus);
}

.clients__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.clients__list .client__item {
  width: 100%;
}
@media screen and (min-width: 320px) {
  .clients__list {
    max-width: 767px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .clients__list .client__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .clients__list .client__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 320px) {
  .client__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .client__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.client__link {
  display: block;
  height: 92px;
  outline: 1px solid var(--background-color2);
  border: 1px solid var(--icon);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.client__link:hover, .client__link:focus {
  border: 1px solid var(--links-conact-hover-focus);
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    background: var(--footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    text-align: center;
    background: var(--footer-background);
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    flex-direction: column;
    background: var(--footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.footer__logo-soc {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  align-items: baseline;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__logo-soc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__logo-soc {
    padding-top: 60px;
    margin-bottom: 60px;
  }
}
.footer__social {
  margin-left: 70px;
}
@media screen and (max-width: 768px) {
  .footer__social {
    margin-left: auto;
    display: contents;
  }
}

/*
@media screen and (min-width: 480px) and (max-width: 767px) {
    .footer__social {

    }
} */
.footer__logo-link {
  display: inline-block;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  color: var(--address-color);
  font-style: normal;
}

.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--footer-link);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.footer__link:hover {
  color: var(--links-hover);
}

.footer__link:focus {
  color: var(--links-hover);
}

.footer__list:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (min-width: 1200px) {
  .footer__block {
    display: flex;
    align-items: baseline;
  }
}
/*
@media screen and (max-width: 1199px) {
    .footer__block {
        margin-bottom: 60px;
    }
} . */
.footer__social-list {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  .footer__social-list {
    margin-bottom: 60px;
  }
}

.subscribe {
  margin-left: auto;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.join,
.join-subscribe {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--address-color);
}

.footer__social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.footer__social-link:hover,
.footer__social-link:focus {
  background-color: var(--links-conact-hover-focus);
}

.footer__item {
  width: 44px;
  height: 44px;
}

.footer__social-icon {
  fill: #fff;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
@media screen and (max-width: 767px) {
  .subscribe__input {
    margin-bottom: 20px;
  }
}

.subscribe__input:hover,
.subscribe__input:focus {
  border-color: var(--links-hover);
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: contents;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .subscribe__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 1199px) {
  .subscribe__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.subscribe__button {
  width: 200px;
  height: 50px;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--button-push-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  gap: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe__button {
    margin-top: 20px;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .subscribe__button {
    margin-bottom: 60px;
  }
}
.subscribe__block {
  display: flex;
  align-items: center;
  justify-content: c;
}

.subscribe__title {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: transparent;
  padding-left: 28px;
  margin-right: 10px;
}

.submit__icon {
  position: absolute;
  padding-right: 28px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.581);
  transition: opacity 250ms, visibility 250ms;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--background-color2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
}
@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  box-sizing: border-box;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.modal-close:hover .modal-close__close,
.modal-close:focus .modal-close__close {
  fill: var(--button-push-background);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.modal__field {
  margin-bottom: 10px;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--advantage-color);
  margin-bottom: 12px;
}

.modal__input {
  width: 100%;
  height: 40px;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 35px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.modal__input:focus, .modal__input:hover {
  border-color: var(--button-push-background);
}

.agree {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 0.0119;
  letter-spacing: 0.03em;
  color: var(--advantage-title-color);
  margin-bottom: 30px;
  margin-left: 13px;
}
.check:focus + .agree {
  /*
  text-decoration:underline; */
  box-shadow: 0px 1px 3px var(--button-push-background);
}
@media screen and (max-width: 1199px) {
  .agree {
    font-size: 12px;
    margin-left: 0;
  }
}

.agree span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--advantage-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.agree span .check:checked + .agree span {
  background-color: var(--button-push-background);
  border: none;
  fill: var(--background-color2);
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.modal__input:focus + .modal__icon, .modal__input:hover + .modal__icon {
  fill: var(--button-push-background);
}

.input__wrapper {
  position: relative;
}

.modal__coment {
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 16px;
}
.modal__coment:focus, .modal__coment:hover {
  border-color: var(--button-push-background);
}

/*
.agree::before {
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid var(--advantage-color);
    border-radius: 2px;
    margin-right: 8px;
}
.check:checked + .agree::before {
    background-color: var(--button-push-background);
    border: none;
    background-image: url(../images/icons.svg#icon-subskribe);
    background-position: center;
    background-repeat: no-repeat;
}  */
.form-name-icon {
  position: absolute;
}

.modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: var(--advantage-title-color);
  margin-bottom: 4px;
  display: block;
}

.lic-agreement {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--advantage-title-color);
}

.agreement {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--button-push-background);
  padding: 3px;
}

.modal__form {
  margin-bottom: 30px;
}

.form-button {
  display: flex;
  justify-content: center;
}

.form-button__button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
  background: var(--button-push-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--order-button-color);
  border: 0;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.form-button__button:hover, .form-button__button:focus {
  background-color: var(--button-push-active);
}

.send {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-color2);
}

.select-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.select-buttons__tytle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--filter-title-color);
  background-color: var(--filter-title-background);
  border-radius: 4px;
  padding: 6px 22px;
  border: 0;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  /* cursor: pointer;
              display: flex;
              gap: 50px;
              margin-left: 93px;
          */
}
.select-buttons__tytle:hover {
  color: var(--filter-title-background);
  background-color: var(--filter-title-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.select-buttons__tytle:focus {
  color: var(--filter-title-background);
  background-color: var(--filter-title-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--filter-color);
}

.filter__border {
  background: #FFFFFF;
  flex-basis: calc((100% - 60px) / 3);
  min-width: 370px;
  background-color: var(--background-color2);
}

/*
.filter-border:hover .filter-text {
    transform: translateY(0);
} */
.filter__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--background-color2);
}

.filter__link {
  display: block;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.filter__link:hover, .filter__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter__image {
  position: relative;
  overflow: hidden;
}

.filter__wrap {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--filter-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms;
  overflow: auto;
  color: var(--filter-text-color);
}
.filter__link:hover .filter__wrap, .filter__link:focus .filter__wrap {
  transform: translateY(0);
}

.filter__work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--filter-work);
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--work-title);
  margin-bottom: 4px;
}

.portfolio {
  padding: 20px 24px 20px 24px;
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  border-left: 1px solid var(--border);
}/*# sourceMappingURL=main.css.map */