



/* ------- Header --------- */

/*-------------- HEro ----------- */

/*------------------ we are the best ! !! ---------- */


/* ----------------- our team ------------*/

/* ------------- CLIENTS ---------- */

/*
.client {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 94px;
    margin-bottom: 50px;
} . */

/*------------------ Footer -----------*/


/* ---------------- modal ------------- */



/* ---------------- Portfolio / buttons --------- */

/* ------------- filter cards --------- */

