h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

* {

    text-decoration: none;
    outline: var(--background-color2);
}

body {
    font-family: 'Roboto';
    font-style: normal;
    color: var(--background-color1);
    background: var(--background-color2);
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    font-family: 'Roboto';
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    margin: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    @media screen and (min-width: 767px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.pic {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.title {
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--work-color);
    margin-top: 0;
    margin-bottom: 50px;
    @media screen and (min-width: 767px) {
        font-size: 28px;
        margin-bottom: 30px;
    }
}

.header {
    display: contents;
}

