:root {
    --background-color1: #000;
    --background-color2: #fff;
    --description-text: #757575;
    --hedertext: #212121;
    --logo-beg: #2196F3;
    --logo-end: #000;
    --logo-end-down: #fff;
    --header: #212121;
    --links: #212121;
    --links-hover: #2196F3;
    --links-contact: #757575;
    --links-conact-hover-focus: #2196F3;
    --order-background-color: #2F303A;
    --desigion-color: #fff;
    --button-push-background: #2196F3;
    --button-push-active: #188CE8;
    --order-button-color: #fff;
    --advantage-color: #212121;
    --advantage-title-color: #757575;
    --work-color: #212121;
    --team-color-background: #F5F4FA;
    --team-list-background: #fff;
    --name: #212121;
    --prof-color: #757575;
    --footer-background: #2F303A;
    --address-color: #fff;
    --footer-link: rgba(255, 255, 255, 0.6);
    --filter-title-color: #212121;
    --filter-title-background: #F5F4FA;
    --filter-title-hover: #2196F3;
    --filter-color: #212121;
    --filter-work: #757575;
    --work-title: #212121;
    --border: #ECECEC;
    --icon-mail-tel: #757575;
    --icon: #AFB1B8;
    --filter-text-color: #ffffff;

}

